*{
    padding :0;
    margin:0;
    list-style: none;
    box-sizing:border-box;
    font-family: 'Josefin sans', sans-sarif;
}
nav{
    display: flex;
    align-items: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%; 
}
.logo{
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    color: darkgoldenrod;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:darkgoldenrod;
    transition: .5s;
}
.btn{
    background-color: darkgoldenrod;
    color: black;
    text-decoration: none;
    background-origin: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    transition: transform .4s;
    border-radius: 30px;
    margin: 20px;
}
.btn:hover{
    transform: scale(1.2);

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:90vh;
    background: url(photo/cc.jpeg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
    
}

.container{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:450px;
   flex-direction: column;
    padding:0 15px 0 15px;

}
h2{
    justify-content: center;
    padding: 50px 0;
    padding: 50px 0 20px 0;
}
.top-header{
    color:black;
    font-size:20px;
    display:flex;
    justify-content : center ;
    padding: 10px 0 10px 0;
}
.field1{
    height:100px;
    width:200%;
    border:none;
    outline:none;
    border-radius: 40px;
    color:#000000;
    padding: 0 0 0px 50px;
}

.field{
    height:40px;
    width:200%;
    border:none;
    outline:none;
    border-radius: 40px;
    color:#000000;
    padding: 0 0 0px 50px;
}

.input-field{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
::-webkit-input-placeholder{
    color :#0f0d07;
    font-size: 17px;

}
.submit{
    border:none;
    border-radius :30px;
    font-size:15px;
    height:45px;
    outline: none;
    width:100%;
    background: rgba(218, 197, 151, 0.1);
    cursor:pointer;
}
.submit:hover{
    box-shadow:1px 5px 7 1px 
}

footer{
    position:relative ;
    width:100%;
    height: 200px;
    background:rgb(180, 133, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
footer p:nth-child(1){
font-size: 30px;
color:black;
margin-bottom: 20px;
font-weight:bold;
margin-top: 20px;
}
.social{
  display: flex;  
}
.social a{
    width: 60px;
    height: 60px;
    display:flex;
    align-items:center ;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    
}
