*{
    padding :0;
    margin:0;
    list-style: none;
    box-sizing:border-box;
    font-family: 'Josefin sans', sans-sarif;
}
nav{
    display: flex;
    align-items: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%; 
}
.logo{
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    color: darkgoldenrod;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:darkgoldenrod;
    transition: .5s;
}
.btn{
    background-color: darkgoldenrod;
    color: black;
    text-decoration: none;
    background-origin: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    transition: transform .4s;
    border-radius: 30px;
    margin: 20px;
}
.btn:hover{
    transform: scale(1.2);

}

.about{
    width:100%;
    padding: 100px 20px 0 20px;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    }
    
    .about img{
        height: auto;
        width:450px;
        
    }
    
    .about-text{
        width: 550;
    }
    
    .about-text h3{
        font-size: 40px;
        color:black;
        margin-top: 30px;
        padding: 20px 20px 0px;
    
    }
    
    .about-text p{
        color: black;
        letter-spacing: 2px;
        margin-bottom: 30px;
        padding: 0 20px;
        font-size:25px;
    }
    
    footer{
        position:relative ;
        width:100%;
        height: 200px;
        background:rgb(180, 133, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        bottom: 0px;
    }
    footer p:nth-child(1){
    font-size: 30px;
    color:black;    
    margin-bottom: 20px;
    font-weight:bold;
    margin-top: 20px;
    }
    .social{
      display: flex;  
    }
    .social a{
        width: 60px;
        height: 60px;
        display:flex;
        align-items:center ;
        justify-content: center;
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
        
    }
    @media only screen and (min-width: 700px){
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     nav{
        display: flex;
        align-items: flex;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%; 
    }
    .logo{
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
        color: darkgoldenrod;
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
    
    }
    
    nav ul li a{
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }
    nav ul li a:hover{
        color:darkgoldenrod;
        transition: .5s;
    }
    .btn{
        background-color: darkgoldenrod;
        color: black;
        text-decoration: none;
        background-origin: 2px solid transparent;
        font-weight: bold;
        padding: 10px 25px;
        transition: transform .4s;
        border-radius: 30px;
        margin: 20px;
    }
    .btn:hover{
        transform: scale(1.2);
    
    }
    h3{
        font-size: 40px;
    }
   
        .about img{
            height: auto;
            width:600px;
            align-items: center;
        }
        
        .about-text{
            width: 550;
        }
        
        .about-text h3{
            font-size: 40px;
            color:black;
            margin-top: 30px;
            padding: 20px 20px 0px;
        
        }
        
        .about-text p{
            color: black;
            letter-spacing: 2px;
            margin-bottom: 30px;
            padding: 0 20px;
            font-size:30px;
        }
        
        footer{
            position:relative ;
            width:100%;
            height: 200px;
            background:rgb(180, 133, 50);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            
        }
        footer p:nth-child(1){
        font-size: 30px;
        color:black;
        margin-bottom: 20px;
        font-weight:bold;
        margin-top: 20px;
        }
        .social{
          display: flex;  
        }
        .social a{
            width: 60px;
            height: 60px;
            display:flex;
            align-items:center ;
            justify-content: center;
            color: black;
            text-decoration: none;
            font-weight: bold;
            text-transform: capitalize;
            
        }
    }
    @media only screen and (min-width: 1000px){
        .about {
            display: flex;
            flex-direction: row;
            align-items: center;
         }
         nav{
            display: flex;
            align-items: flex;
            justify-content: space-between;
            padding-top: 45px;
            padding-left: 8%;
            padding-right: 8%; 
        }
        .logo{
            font-size: 35px;
            letter-spacing: 1px;
            cursor: pointer;
            color: darkgoldenrod;
        }
        
        nav ul li{
            list-style-type: none;
            display: inline-block;
            padding: 10px 25px;
        
        }
        
        nav ul li a{
            color: black;
            text-decoration: none;
            font-weight: bold;
            text-transform: capitalize;
        }
        nav ul li a:hover{
            color:darkgoldenrod;
            transition: .5s;
        }
        .btn{
            background-color: darkgoldenrod;
            color: black;
            text-decoration: none;
            background-origin: 2px solid transparent;
            font-weight: bold;
            padding: 10px 25px;
            transition: transform .4s;
            border-radius: 30px;
            margin: 20px;
        }
        .btn:hover{
            transform: scale(1.2);
        
        }
        
       
        .about img{
                height: auto;
                width:450px;
                
            }
            
            .about-text{
                width: 550;
            }
           
            .about-text h3{
                font-size: 40px;
                color:black;
                margin-top: 30px;
                padding: 20px 20px 0px;
            
            }
            
            .about-text p{
                color: black;
                letter-spacing: 2px;
                margin-bottom: 30px;
                padding: 0 20px;
                font-size:25px;
            }
            
            footer{
                position:relative ;
                width:100%;
                height: 200px;
                background:rgb(180, 133, 50);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                
            }
            footer p:nth-child(1){
            font-size: 30px;
            color:black;
            margin-bottom: 0px;
            font-weight:bold;
            margin-top: 20px;
            }
            .social{
              display: flex;  
            }
            .social a{
                width: 60px;
                height: 60px;
                display:flex;
                align-items:center ;
                justify-content: center;
                color: black;
                text-decoration: none;
                font-weight: bold;
                text-transform: capitalize;
                
            }
        }