*{
    padding :0;
    margin:0;
    list-style: none;
    box-sizing:border-box;
    font-family: 'Josefin sans', sans-sarif;
}
    .hero{
        height: 100vh;
        width: 100%;
        background-image: url(../photo/bj.jpg);
        background-size: cover;
        background-position: center;
    }
    
    nav{
        display: flex;
        align-items: flex;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%; 
        
    }
    .logo{
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
        color: darkgoldenrod;
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
    
    }
    
    nav ul li a{
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }
    nav ul li a:hover{
        color:darkgoldenrod;
        transition: .5s;
    }
    .btn{
        background-color: darkgoldenrod;
        color: black;
        text-decoration: none;
        background-origin: 2px solid transparent;
        font-weight: bold;
        padding: 10px 25px;
        transition: transform .4s;
        border-radius: 30px;
        margin: 20px;
    }
    .btn:hover{
        transform: scale(1.2);
    
    }
  nav #icon{
        font-size: 30px;
        line-height: 80px;
        float:right;
        margin-right: 40px;
        cursor:pointer;
        display: none;
         
    }

    .content{
        position: absolute;
        top: 50%;
        left:8%;
    transform: translateY(-50%);
    }
    h1{
        color: black;
        margin: 20px 0px 20px;
        font-size:50px;
    }
    h3{
        color: black;
        font-size: 25px;
        margin-bottom: 20px;
    }
 .main1 ,.main2{
            width: 100%;
            background-color: rgb(218, 222, 221);
        }
        .sub_main{
            display: flex;
            width: 100%;
            margin: 0px 20px ;
        }
        .main1 img{
            height: auto;
            width: 500px;
           margin-left: 100px;
        }
        .content2{
            align-items: center;
            font-size:30px;
            padding: 20px 100px 0 100px;
        }
        .main2 img{
            height: auto;
            width: 500px;
           margin-right: 100px; 
        }
    
    footer{
        position:relative ;
        width:100%;
        height: 200px;
        background:rgb(180, 133, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    footer p:nth-child(1){
    font-size: 30px;
    color:black;
    margin-bottom: 20px;
    font-weight:bold;
    margin-top: 20px;
    }
    .social{
      display: flex;  
    }
    .social a{
        width: 60px;
        height: 60px;
        display:flex;
        align-items:center ;
        justify-content: center;
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    
}
@media only screen and (min-width: 300px){
    
   
    nav{
        display: flex;
        align-items: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-left: 0%;
        padding-right: 0%; 
    }
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 15px;
    
    }
    nav ul a .btn::after{
        display:none ; 
    }
    .logo{
        font-size: 20px;
        letter-spacing: 1px;
        cursor: pointer;
        color: darkgoldenrod;
        margin-left: 10px;
    }
    .btn{
        display: none;
    }
    nav ul{
        position: fixed;
        width:100%;
        height: 50vh;
        background:#d9d0c8;
        top: 80px;
        left: -100%;
        text-align: center;

    }
    nav ul.show{
        left:0;
    }
    nav #icon{
        display: block;
    }
    nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    .content{
        position: absolute;
        top: 50%;
        left:8%;
    transform: translateY(-160%);
    }
    h1{
        color: black;
        margin: 0px 0px 0px;
        font-size:30px;
    }
    h2{
        color: black;
        font-size: 12px;
        padding: 20px 4px ;
    }
    h3{
        font-size: 18px;
        margin-top:0%
    }
    .main1 ,.main2{
        background-color: rgb(218, 222, 221);
        max-width: max-content;
        width: 100%;
    }
    .sub_main{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px 20px ;
    }
    .main1 img{
        height: auto;
        width: 300px;
       margin-left: 20px;
    }
    .content2{
        align-items: center;
        font-size:20px;
        padding: 20px 2px 0 20px;
    }
    .main2 img{
        height: auto;
        width: 300px;
       margin-right: 20px; 
    }
}

@media only screen and (min-width: 700px){

        .hero{
            height: 60vh;
            width: 100%;
            background-image: url(../photo/bg1.png);
            background-size: cover;
            background-position: center;
        }
        nav{
            display: flex;
            align-items: flex;
            justify-content: space-between;
            padding-top: 45px;
            padding-left: 0%;
            padding-right: 0%; 
        }
        .logo{
            font-size: 20px;
            letter-spacing: 1px;
            cursor: pointer;
            color: darkgoldenrod;
            margin-left: 10px;
        }
        
        .content{
            position: absolute;
            top: 50%;
            left:8%;
        transform: translateY(-100%);
        }
        h1{
            color: black;
            margin: 0px 0px 20px;
            font-size:40px;
        }
        h2{
            color: black;
            font-size: 40px;
            padding: 20px 150px ;
        }
        .main1 ,.main2{
            
            background-color: rgb(218, 222, 221);
            max-width: max-content;
            width: 100%;
            display: flex;
        }
        .sub_main{
            display: flex;
            flex-direction: column; 
            width: 100%;
            margin: 0px 20px ;
        }
        .main1 img{
            height: auto;
            width: 300px;
           margin-left: 20px;
        }
        .content2{
            align-items: center;
            font-size:30px;
            padding: 20px 2px 0 20px;
        }
        .main2 img{
            height: auto;
            width: 300px;
           margin-right: 20px; 
        }    
        .btn{
            background-color: darkgoldenrod;
            color: black;
            text-decoration: none;
            background-origin: 2px solid transparent;
            font-weight: bold;
            padding: 10px 25px;
            transition: transform .4s;
            border-radius: 30px;
            margin: 20px;
        }
    }

    
    @media screen and (min-width: 900px){
        .hero{
            height: 100vh;
            width: 100%;
            background-image: url(../photo/bj.jpg);
            background-size: cover;
            background-position: center;
        }
        nav{
            display: flex;
            align-items: flex;
            justify-content: space-between;
            padding-top: 45px;
            padding-left: 8%;
            padding-right: 8%; 
        }
        .logo{
            font-size: 35px;
            letter-spacing: 1px;
            cursor: pointer;
            color: darkgoldenrod;
        }
        
        nav ul li{
            list-style-type: none;
            display: inline-block;
            padding: 10px 25px;
        
        }
        
        nav ul li a{
            color: black;
            text-decoration: none;
            font-weight: bold;
            text-transform: capitalize;
        }
        nav ul li a:hover{
            color:darkgoldenrod;
            transition: .5s;
        }
        .btn{
            display: none;
        }
        .content{
            position: absolute;
            top: 50%;
            left:8%;
            transform: translateY(-60%);
        

        }
        h1{
            color: black;
            margin: 0px 0px 0px;
            font-size:50px;
        }
        h3{
            color: black;
            font-size: 25px;
            margin-bottom: 20px;
        }
        h4{
            color: black;
            letter-spacing: 2px;
            font-size: 20;
        }
        .main1 ,.main2{
            width: 100%;
            background-color: rgb(218, 222, 221);
        }
        .sub_main{
            display: flex;
            flex-direction: row; 
            width: 100%;
            margin: 0px 20px ;
        }
        .main1 img{
            height: auto;
            width: 500px;
           margin-left: 100px;
        }
        .content2{
            align-items: center;
            font-size:30px;
            padding: 20px 100px 0 100px;
        }
        .main2 img{
            height: auto;
            width: 500px;
           margin-right: 100px; 
        }
        
        footer{
            position:relative ;
            width:100%;
            height: 200px;
            background:rgb(180, 133, 50);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
        }
        footer p:nth-child(1){
        font-size: 30px;
        color:black;
        margin-bottom: 20px;
        font-weight:bold;
        margin-top: 20px;
        }
        .social{
          display: flex;  
        }
        .social a{
            width: 60px;
            height: 60px;
            display:flex;
            align-items:center ;
            justify-content: center;
            color: black;
            text-decoration: none;
            font-weight: bold;
            text-transform: capitalize;
            
        }
    }
 @media screen and (min-width : 1200px){
    .hero{
        height: 100vh;
        width: 100%;
        background-image: url(../photo/bj.jpg);
        background-size: cover;
        background-position: center;
    }
    
    nav{
        display: flex;
        align-items: flex;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%; 
        
    }
    .logo{
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
        color: darkgoldenrod;
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
    
    }
    
    nav ul li a{
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }
    nav ul li a:hover{
        color:darkgoldenrod;
        transition: .5s;
    }
    .btn{
        background-color: darkgoldenrod;
        color: black;
        text-decoration: none;
        background-origin: 2px solid transparent;
        font-weight: bold;
        padding: 10px 25px;
        transition: transform .4s;
        border-radius: 30px;
        margin: 20px;
    }
    .btn:hover{
        transform: scale(1.2);
    
    }
  
         
    }

    .content{
        position: absolute;
        top: 50%;
        left:8%;
    transform: translateY(-50%);
    }
    h1{
        color: black;
        margin: 20px 0px 20px;
        font-size:50px;
    }
    h3{
        color: black;
        font-size: 25px;
        margin-bottom: 20px;
    }
 .main1 ,.main2{
            width: 100%;
            background-color: rgb(218, 222, 221);
        }
        .sub_main{
            display: flex;
            width: 100%;
            margin: 0px 20px ;
        }
        .main1 img{
            height: auto;
            width: 500px;
           margin-left: 100px;
        }
        .content2{
            align-items: center;
            font-size:30px;
            padding: 20px 100px 0 100px;
        }
        .main2 img{
            height: auto;
            width: 500px;
           margin-right: 100px; 
        }
    
    footer{
        position:relative ;
        width:100%;
        height: 200px;
        background:rgb(180, 133, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    footer p:nth-child(1){
    font-size: 30px;
    color:black;
    margin-bottom: 20px;
    font-weight:bold;
    margin-top: 20px;
    }
    .social{
      display: flex;  
    }
    .social a{
        width: 60px;
        height: 60px;
        display:flex;
        align-items:center ;
        justify-content: center;
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    
}}