*{
    padding :0;
    margin:0;
    list-style: none;
    box-sizing:border-box;
    font-family: 'Josefin sans', sans-sarif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../photo/bj.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%; 
}
.logo{
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    color: darkgoldenrod;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:darkgoldenrod;
    transition: .5s;
}
.btn{
    background-color: darkgoldenrod;
    color: black;
    text-decoration: none;
    background-origin: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    transition: transform .4s;
    border-radius: 30px;
    margin: 20px;
}
.btn:hover{
    transform: scale(1.2);

}
.content{
    position: absolute;
    top: 50%;
    left:8%;
transform: translateY(-50%)
}
h1{
    color: black;
    margin: 20px 0px 20px;
    font-size:50px;
}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
}
h4{
    color: black;
    letter-spacing: 2px;
    font-size: 20;
}
.about{
width:100%;
padding: 0px 50px 0 0px;
background-color:aliceblue;
}

.about img{
    height: auto;
    width:450px;
    
}

.about-text{
    width: 550;
}
.main{
    background-color: aliceblue;
    width: auto;
    max-width: 100%;
    padding: 60px 100px 0px 0px;
    display: flex;
    margin-left: 150px;
   
}
.about-text h3{
    color:black;
    margin-top: 30px;
    padding: 20px 20px 0px;

}

.about-text p{
    color: black;
    letter-spacing: 2px;
    margin-bottom: 30px;
    padding: 0 20px;
    font-size:20px;
}

footer{
    position:relative ;
    width:100%;
    height: 200px;
    background:rgb(180, 133, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
footer p:nth-child(1){
font-size: 30px;
color:black;
margin-bottom: 20px;
font-weight:bold;
margin-top: 20px;
}
.social{
  display: flex;  
}
.social a{
    width: 60px;
    height: 60px;
    display:flex;
    align-items:center ;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    
}
