@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    box-sizing:border-box;
    padding :0;
    margin:0;
    list-style: none;
    box-sizing:border-box;
    font-family: 'Josefin sans', sans-sarif;
}
nav{
    display: flex;
    align-items: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%; 
}
.logo{
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    color: darkgoldenrod;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:darkgoldenrod;
    transition: .5s;
}
.btn{
    background-color: darkgoldenrod;
    color: black;
    text-decoration: none;
    background-origin: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    transition: transform .4s;
    border-radius: 30px;
    margin: 20px;
}
.btn:hover{
    transform: scale(1.2);
}
body{
    align-items:center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(250, 250, 249);
    min-height: 100%;
    
}
.container{
    margin-top: 80px;;
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22)

}

.sign-up, .sign-in{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-up{
    width: 50%;
    opacity:0;
    z-index:1;
}
.sign-in{
    width: 50%;
    z-index:2;
}
form{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 50px;
    height: 100%;
    text-align: center;
}
h1{
    font-weight: bold;
    margin:0;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin:15px 0 20px;
}
input{
    background: rgb(225, 225, 222);
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border:none;
    outline: none;
}
a{
    color:#333;
    font-size:14px;
    text-decoration: none;
    margin:15px 0;
}
button{
    background-color: darkgoldenrod;
    color: black;
    text-decoration: none;
    background-origin: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    transition: transform .4s;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
}
button:active{
    transform: scale(0.90);
}
#signIn, #signUp
{
    background-color: transparent;
    border: 2px solid white;
}
.container.right-panel-active .sign-in{
    transform: translateX(100%);
}
.container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity:1;
    z-index: 5;
}
.overlay-container{
position: absolute;
top: 0;
width: 50%;
left: 50%;
height: 100%;
overflow: hidden;
transition: transform 0.6s ease-in-out;
z-index: 100%;
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay{
    position: relative;
    color: white;
    background: darkgoldenrod;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #c38336b4 rgb(133, 102, 23));
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.container.right-panel-active .overlay{
    transform:translateX(50%);
}
.overlay-left, .overlay-right{
    position:absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    padding: 0 40px;
    text-align:center;
    top:0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-left{
    transform: translateX(-20%);

}
.overlay-right{
    right:0;
    transform: translateX(0);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}
.social-container a{
width: 40px;
height: 40px;
display:inline-flex;
margin: 0 5px;
align-items:center ;
justify-content: center;
border: 1px solid rgb(20, 18, 18);
border-radius: 50%;
}